{% comment %}
  The share buttons share the home page URL. The share text is grabbed from the store
  meta description.
{% endcomment %}

{% layout 'password' %}

<h2>{{ 'general.password_page.opening_soon' | t }}</h2>

<a href="#Login">
  {% include 'icon-lock' %}
  {{ 'general.password_page.password_link' | t }} &rarr;
</a>
